.main-div{
  display: flex;
  flex-direction: column;
  background-color: grey;
  color: white;
  width: 1000px;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
}
img{
  width: 500px;
  height: 500px;
}
.div-create{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
button{
  color: white;
  background-color: blue;
}